#wrapper {
    padding: 1em;
    margin-bottom: 6em;
    border-top: 1px solid #8E8E8E
}
#izquierda, #derecha {
    float: left;
    /* border: 1px solid black; */
}

#izquierda {
    /* overflow-y: scroll; */
    padding: 1em;
    width: 40%;
    height: auto;
}
#derecha {
    width: 56%;
    height: 50em;
}
#volver {
    font-weight: 600;
    margin-left: 2.5em;
}
#volver a:hover {
    margin-left: -1em;
    color: #A1C349;
}

/* #####################################
 *                  MAPA
 * ##################################### */
#map {
    width: 100%;
    height: 100%;
}

/* #####################################
 *                  INFO
 * ##################################### */
#imagen {
    position: relative;
    /* border: 1px solid blue; */
    /* background: url('../imgs/NoImageFound.png'); */
    background: url('../imgs/paisaje-verde.avif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(15em + 1vh);
}
#anterior, #siguiente {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.61);
    cursor: pointer;
}
#anterior:hover, #siguiente:hover {
    background-color: rgba(255, 255, 255, 0.815);
}
#anterior { left: 0; }
#siguiente { right: 0; }
#titulo, .boton, #realizada,
.puntuacion {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton, #realizada,
.puntuacion {
    margin-bottom: 0.5em;
}
#contenido {
    display: flex;
    justify-content: center;
    width: 100%;
}
#contenido2 {
    width: 80%;
}
#realizada {
    width: 15em;
    padding: 0.6em;
    border-radius: 0.3em;
    font-size: 1.1em;
    color: white;
    background-color: #87A330;
    cursor: pointer;
}
#realizada:hover {
    background-color: #a6c93d;
}
.bi-star-fill { color: orange; }
#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* #####################################
 *           INFO - PARÁMETROS
 * ##################################### */
#info div {
    font-weight: 600;
}
#distancia {
    grid-column: 1;
    grid-row: 1;
}
#dificultad {
    grid-column: 2;
    grid-row: 1;
}
#tipo { 
    grid-column: 3;
    grid-row: 1;
}
#tiempo { 
    grid-column: 1;
    grid-column: span 2;
    grid-row: 2;
}
#coords { 
    grid-column: 3;
    grid-row: 2;
}
#info div p {
    color: #A1C349;
}
#descripcion {
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* #####################################
 *              INFO FINAL
 * ##################################### */
#comments {
    clear: both;
    background-color: rgba(224, 224, 224, 0.644);
    padding: 1em 5% 2em 5%;
}
#add-comment {
    display: grid;
    grid-template-columns: 0.4fr 4.6fr;
    margin-top: 3em;
}
#iniciar-sesion {
    margin-top: 3em;
}
#iniciar-sesion a {
    text-decoration: underline;
    font-weight: 600;
    color: #87A330;
}
#user {
    grid-column: 1;
}
.image-user {
    background-image: url('../imgs/icons/user-no-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc(4em + 1vw);
    height: calc(4em + 1vh);
}
#comment-part p {
    color: #8E8E8E;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
#comment-part textarea {
    font-family: 'Arimo', sans-serif;
    margin-top: 0.5em;
    width: 95%;
}
textarea {
    resize: none;
}

/* #####################################
 *             COMENTARIOS
 * ##################################### */
.com-btn {
    background-color: #87A330;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    border-radius: 0.3em;
    margin-top: 1em;
    padding: 0.6em 0 0.6em 0;
    cursor: pointer;
}
.com-btn:hover {
    background-color: #a6c93d;
}
.star {
    color: #cccccc;
    cursor: pointer;
}
.star:hover {
    color: orange;
}
.comentario {
    display: grid;
    grid-template-columns: 0.4fr 4.6fr;
    background-color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-top: 1px solid #8E8E8E;
}
.user-imagen {
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.cargar-imagen {
    background-image: url('../imgs/icons/user-no-image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 3em;
    height: 3em;
}
.comentario-user {
    grid-column: 2;
}
.comentario-user p {
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.all-text {
    margin-top: 0.5em;
    font-size: 0.9em;
}

/* #####################################
 *              RESPONSIVE
 * ##################################### */
@media(min-width: 1450px) {
    #img-hidden {
        display: flex;
        justify-content: center;
    }
    #imagen {
        width: 30em;
    }
}
@media(max-width: 1200px) {
    .image-user {
        width: calc(3em + 1vw);
        height: calc(3em + 1vh);
    }
}
@media(max-width: 1010px) {
    #wrapper {
        margin-bottom: 3em;
    }
    #izquierda, #derecha {
        float: none;
        width: 90%;
    }
    #derecha {
        padding: 1em;
        display: flex;
        justify-content: center;
        height: 30em;
    }
    #img-hidden {
        display: flex;
        justify-content: center;
    }
    #imagen {
        width: 30em;
    }
    #anterior, #siguiente {
        width: 4em;
    }
    #add-comment {
        grid-template-columns: 0.5fr 4.5fr;
    }
    .comentario {
        grid-template-columns: 0.5fr 4.5fr;
    }
}
@media(max-width: 800px) {
    .comentario {
        grid-template-columns: 0.8fr 4.2fr;
    }
    #add-comment {
        grid-template-columns: 0.8fr 4.2fr;
    }
}
@media(max-width: 480px) {
    #derecha {
        height: 20em;
    }
    #imagen {
        width: 15em;
        height: 10em;
    }
    #anterior, #siguiente {
        width: 2em;
    }
    #comments {
        padding: 1em 0 2em 0;
    }
    #comments h2 {
        padding-left: 1em;
    }
    .com-btn {
        width: 10em;
    }
}
