#wrapper {
    padding: 1em;
    margin-bottom: 6em;
    border-top: 1px solid #8E8E8E
}
#izquierda, #derecha {
    float: left;
    /* border: 1px solid black; */
}

#izquierda {
    /* overflow-y: scroll; */
    padding: 1em;
    width: 40%;
    height: 50em;
}
#derecha {
    width: 56%;
    height: 50em;
}
#volver {
    font-weight: 600;
    margin-left: 2.5em;
}
#volver a:hover {
    margin-left: -1em;
    color: #A1C349;
}

/* #####################################
 *                  MAPA
 * ##################################### */
#map {
    width: 100%;
    height: 100%;
}

/* #####################################
 *                  INFO
 * ##################################### */
#imagen {
    position: relative;
    /* border: 1px solid blue; */
    background: url('../imgs/NoImageFound.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(15em + 1vh);
}
#anterior, #siguiente {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.61);
    cursor: pointer;
}
#anterior:hover, #siguiente:hover {
    background-color: rgba(255, 255, 255, 0.815);
}
#anterior { left: 0; }
#siguiente { right: 0; }
#titulo, .boton, #realizada,
.puntuacion {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton, #realizada,
.puntuacion {
    margin-bottom: 0.5em;
}
#contenido {
    display: flex;
    justify-content: center;
    width: 100%;
}
#contenido2 {
    width: 80%;
}
#realizada {
    width: 15em;
    padding: 0.6em;
    border-radius: 0.3em;
    font-size: 1.1em;
    color: white;
    background-color: #87A330;
    cursor: pointer;
}
#realizada:hover {
    background-color: #a6c93d;
}
.bi-star-fill { color: orange; }
#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* #####################################
 *           INFO - PARÁMETROS
 * ##################################### */
#info div {
    font-weight: 600;
}
#distancia {
    grid-column: 1;
    grid-row: 1;
}
#dificultad {
    grid-column: 2;
    grid-row: 1;
}
#tipo { 
    grid-column: 3;
    grid-row: 1;
}
#tiempo { 
    grid-column: 1;
    grid-column: span 2;
    grid-row: 2;
}
#coords { 
    grid-column: 3;
    grid-row: 2;
}
#info div p {
    color: #A1C349;
}
#descripcion {
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* #####################################
 *              RESPONSIVE
 * ##################################### */
@media(max-width: 1010px) {
    #wrapper {
        margin-bottom: 3em;
    }
    #izquierda, #derecha {
        float: none;
        width: 90%;
    }
    #izquierda {
        height: calc(45em + 1vh);
    }
    #derecha {
        padding: 1em;
        display: flex;
        justify-content: center;
        height: 30em;
    }
    #img-hidden {
        display: flex;
        justify-content: center;
    }
    #imagen {
        width: 30em;
    }
    #anterior, #siguiente {
        width: 4em;
    }
}
@media(max-width: 480px) {
    #derecha {
        height: 20em;
    }
    #imagen {
        width: 15em;
        height: 10em;
    }
    #anterior, #siguiente {
        width: 2em;
    }
}
