div {
    /* border: 1px solid red; */
}
/* ###############################################
*                   PIE DE PÃGINA
* ############################################### */
footer {
    background-color: #171614;
    height: 16em;
}
#f-item-1, #f-item-2, #f-item-3 {
    /* border: 8px solid black; */
    background-color: #171614;
}
#footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
#footer-container > div {
    color: white;
}
#f-item-1 table {
    float: right;
    margin: 3em;
}
#f-item-2 table {
    margin: 3em;
    margin-left: 0;
}
#f-item-1 table td, #f-item-1 table th,
#f-item-2 table td, #f-item-2 table th {
    padding: 0.7em;
    font-size: calc(0.3em + 1vw)
}
.f-submenu td {
    cursor: pointer;
}
.f-submenu td:hover {
    color: #dddddd;
    border-bottom: 2px solid #a6c93d;
}
.f-head {
    font-size: large;
}
.f-submenu {
    color: #B6B6B6;
}
#f-item-3 {
    display: block;
}
#f-item-3 > div {
    float: left;
    cursor: pointer;
}
.twitter {
    margin: 3em 0 0 3em;
}
.instagram, .linkedin {
    margin: 3em 0 0 1em;
}
.twitter > img:hover, .instagram > img:hover, .linkedin > img:hover {
    border-bottom: 3px solid #587792;
}

/* ###############################################
*                   RESPONSIVE
* ############################################### */
@media (max-width: 800px) {
    #footer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #f-item-1 table {
        float: left;
        margin: 3em 0 3em 3em;
    }
    #f-item-3 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #f-item-3 > div {
        margin: 0;
        display: inline-block;
        cursor:auto;
    }
    #f-item-3 > div > img {
        cursor: pointer;
    }
    .twitter {
        padding-top: 2em;
    }
    .instagram {
        padding-top: 1em;
    }
}
