/* ###############################################
*                   CABECERA
* ############################################### */
header {
    background-color: white;
    position: relative;
    display: flex;
}
div {
    /* border: 1px solid red; */
}
a {
    text-decoration: none;
    color: #1E1E1E;
}
#link-inicio {
    color: #1E1E1E;
}
#header-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
}
.logo, .page-name,
.register, .login {
    float: left;
}
.logo {
    margin: 1em;
    margin-left: 15%;
}
.register {
    color: white;
    background-color: #87A330;
    margin: 1.5em 0.6em 1.5em 1.5em;
    margin-left: 15%;
}
.register:hover { background-color: #a6c93d; }
.login:hover { 
    background-color: #cfcfcf;
    color: rgb(68, 68, 68);
}
.login {
    background-color: #B6B6B6;
    font-weight: 600;
    margin: 1.5em 1.5em 1.5em 0.6em;
}
.login, .register {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 10em;
    height: 2.7em;
    min-width: 6em;
    border-radius: 0.5em;
}
.bi {
    font-size: 1.4em;
}
#b-cabecera {
    display: flex;
    justify-content: end;
    padding-right: 4em;
}
#b-cabecera div {
    margin: 1em;
}

/* ###############################################
*                   RESPONSIVE
* ############################################### */
@media (max-width: 800px) {
    .logo {
        margin: 0.4em;
        margin-left: 10%;
    }
    .page-name {
        font-size: smaller;
    }
    .register, .login {
        float: none;
        margin: 0.3em 0 0.3em 4em;
        font-size: 0.7em;
        width: 9em;
    }
    #b-cabecera {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #b-cabecera div {
        margin: 0;
    }
}
