div {
    /* border: 2px solid red; */
}

/* ###############################################
*                   IMAGEN
* ############################################### */
#w-container {
    /* border: 8px solid black; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#w-imagen {
    position: relative;
    height: 100vh;
    background-image: url('../imgs/senderismo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1E1E1E;
    border-radius: 30% 0 0 30%;
    /* border: 8px solid pink; */
}
#w-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
#w-imagen-texto {
    /* border: 2px solid black; */
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 7em;
}
#w-imagen-texto h2, #w-texto h2 {
    /* border: 8px solid #86a330a8; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    font-size: calc(4em + 1vw);
    padding: 0.2em;
    border-radius: 0.4em;
    cursor: pointer;
}
#w-imagen-texto h2:hover {
    background-color: rgba(255, 255, 255, 0.699);
    color: #1E1E1E;
}
#w-texto h2:hover {
    /* background-color: #86a3308c; */
    font-size: calc(4.5em + 1vw);
    color: #1e1e1eb2;
    padding: 0;
}

/* ###############################################
*                   CONTENIDO
* ############################################### */
#w-contenido {
    padding: 5% 15% 5% 15%;
    /* border: 4px solid blue; */
}
#w-contenido-h1 {
    /* text-align: center; */
}
hr {
    border-color: #1E1E1E
}
#w-rutas-destacadas {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    height: 17.5em;
    margin: auto;
}
#w-rutas-destacadas .w-ruta-img {
    margin: 0.5em;
    width: 20em;
    height: 17em;
    float: left;
    /* border: 1px solid #1E1E1E; */
    /* box-shadow: 5px 10px 10px #1e1e1e81; */
    
}
#w-rutas-destacadas .ruta-texto {
    /* border: 1px solid black; */
    height: 40%;
    text-align: center;
    padding: 0.3em;
}
.ruta-img {
    /* border: 1px solid black; */
    border-radius: 1em;
    height: 60%;
    background-image: url('../imgs/monte-leon.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.texto-ruta {
    font-size: 0.8em;
    color: #1e1e1e9d;
}

/* ###############################################
*                   SLOGAN
* ############################################### */
#l-title {
    /* border: 8px solid black; */
    /* color: #87A330; */
    font-size: xx-large;
    /* text-align: end; */
    /* -webkit-text-stroke: 1px #667c22; */
}
#l-text {
    font-weight: 400;
    font-size: larger;
    /* text-align: end; */
    /* border: 8px solid black; */
}

/* ###############################################
*                   RESPONSIVE
* ############################################### */
@media (max-width: 1420px) {
    #w-rutas-destacadas {
        display: block;
        height: 14em;
    }
    #w-rutas-destacadas .w-ruta-img {
        margin: 0.5em;
        width: 12em;
        height: 13em;
        float: left;
    }
}
@media (max-width: 1230px) {
    #w-rutas-destacadas {
        height: 14em;
    }
    #w-rutas-destacadas .w-ruta-img {
        margin: 0.5em;
        width: 10em;
        height: 12em;
        float: left;
    }
}
@media (max-width: 1040px) {
    #w-rutas-destacadas {
        height: 33em;
    }
    #w-rutas-destacadas .w-ruta-img {
        margin: 0.5em;
        width: 15em;
        height: 15em;
        float: left;
    }
}
@media (max-width: 800px) {
    #w-imagen-texto {
        display: flex;
    }
    #w-container {
        display: block;
    }
    #w-imagen {
        border-radius: 0;
        /* border: 8px solid pink; */
    }
    #w-texto {
        display: none;
    }
}
@media (max-width: 785px) {
    #w-rutas-destacadas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }
    #w-rutas-destacadas .w-ruta-img {
        margin: 0.5em;
        width: 8em;
        height: 5em;
        float: left;
    }
    .ruta-img {
        height: 100%;
    }
    .ruta-texto {
        display: none;
    }
}
