#wrapper {
    padding: 1em;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 6em;
    border-top: 1px solid #8E8E8E
}
#registro {
    /* border: 1px solid black; */
    display: inline-block;
    /* display: none; */
}
#registrado, #logueado {
    /* border: 7px solid black; */
    display: none;
    text-align: center;
}
#registrado a, #logueado a {
    color: #87A330;
    font-weight: bold;
}
#link-login {
    text-decoration: underline;
    color: #87A330;
}

/* ###############################################
*                   FORMULARIO
* ############################################### */
#login-form, #register-form {
    margin-top: 1em;
    /* border: 1px solid #87A330; */
    display: grid;
    grid-template-rows: 1fr;
    width: fit-content;
}
input {
    border: 1px solid #B9B9B9;
    border-radius: 0.5em;
    width: 25em;
    height: 2.5em;
}
input::placeholder {
    color: #8E8E8E;
    padding-left: 1em;
}
#register-form  div:not(#btn-registro), #login-form div:not(#btn-inicio) {
    padding-top: 1em;
}
#fisico div {
    float: left;
    padding: 0;
}
#fisico div input {
    width: 11em;
}
#estatura {
    margin-right: 1.3em;
}
#peso {
    margin-left: 1.3em;
}
.aux {
    clear: both;
}
#actividades {
    font-size: 0.8em;
    /* border: 8px solid pink; */
    width: 25em;
}
#btn-inicio, #btn-registro, #btn-editar {
    background-color: #87A330;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21em;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.6em 0 0.6em 0;
    cursor: pointer;
}
#login {
    margin-bottom: 7.9em;
}
#btn-inicio:hover, #btn-registro:hover, #btn-editar:hover {
    background-color: #a6c93d;
}
#politica {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 0.8em;
    width: 26em;
}
#politica a {
    text-decoration: underline;
    font-weight: bold;
    color: #1E1E1E;
}

/* ###############################################
*                   FORMULARIO
* ############################################### */
#selector-actividades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#selector-actividaes div {
    /* border: 4px solid blue; */
    display: flex;
    align-items: center;
}
#selector-actividades input {
    border: 1px solid #B9B9B9;
    border-radius: 0.5em;
    width: auto;
    height: auto;
}
#selector-actividades div label {
    color: #5e5e5e;
}
#remember-me {
    width: auto;
    height: auto;
}

/* ###############################################
*                   ALERTA
* ############################################### */
#alerta, #alerta2 {
    display: none;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 0.9em;
}

/* ###############################################
*                   RESPONSIVE
* ############################################### */
@media (max-width: 600px) {
    input { width: 20em; }
    #fisico div input { width: 8em; }
    #estatura { margin-right: 1.8em; }
    #peso { margin-left: 1.8em; }
    #actividades { width: 20em; }
    #btn-registro { width: 17em; }
    #btn-inicio { width: 17em; }
    #btn-editar { width: 17em; }
    #politica { width: 21em; }
    label { font-size: 0.8em; }
}
