#wrapper {
    padding: 1em;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 6em;
    border-top: 1px solid #8E8E8E
}
#volver {
    margin-bottom: 1em;
}
#volver a:hover {
    color: #A1C349;
}

/* ###############################################
*                  MENU SUPERIOR
* ############################################### */
#busqueda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5em;
}
#menu {
    grid-column: 1;
    color: #8E8E8E;
    font-size: large;
    margin-top: 2%;
}
#menu a {
    margin: 0 3% 0 3%;
}
#menu a:hover {
    color: #87A330;
    text-decoration: underline;
}
#link-rutas {
    color: #87A330;
    text-decoration: underline;
}
#link-mapa {
    color: #8E8E8E;
}

#barra .barra-item {
    display: flex;
    justify-content: end;
}
#barra .barra-item input, #filtros .filtros-item input {
    border: 1px solid #B9B9B9;
    border-radius: 0.5em;
    width: 15em;
    height: 2em;
}
#barra .barra-item input::placeholder {
    color: #8E8E8E;
    padding-left: 1em;
}
#buscar-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87A330;
    border-radius: 0.3em;
    font-weight: 500;
    color: white;
    width: 8em;
    height: 2em;
    cursor: pointer;
}
#buscar-filtros:hover {
    background-color: #a6c93d;
}

/* ###############################################
*               FILTROS DE RUTAS
* ############################################### */
#filtros {
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: (2, 1fr);
    margin-top: 1em;
    margin-bottom: 2em;
}
#filtros .filtros-item input {
    width: auto;
}
#filtros .filtro-titulo {
    color: #87A330;
    grid-column: 1 span 2;
    grid-row: 1;
}
#filtros .filtro-titulo i {
    font-size: 0.9em;
    margin-right: 0.7em;
}
#filtros .filtros-item {
    grid-row: 2;
}

/* ###############################################
*                LISTA DE RUTAS
* ############################################### */
.item-ruta {
    border: 1px solid #B6B6B6;
    border-radius: 0.3em;
    height: auto;
    padding: 1em;
    margin-bottom: 2em;
}
.rt-titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lugar-ruta {
    display: flex;
    justify-content: end;
    align-items: center;
}
.lugar-ruta h4 {
    color: #8E8E8E;
    font-weight: 500;
}
.rt-contenido {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80%;
}
.rt-ct-img {
    /* border: 1px solid black; */
}
.rt-info {
    /* border: 1px solid purple; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img-principal {
    /* border: 1px solid black; */
    width: 15em;
    height: 10em;
    /* background-image: url('../imgs/NoImageFound.png'); */
    background: url('../imgs/paisaje-verde.avif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0.4em;
}

/* ###############################################
*                TABLA INFORMATIVA
* ############################################### */
.rt-descripcion {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
}
.botones {
    grid-column: 3;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.editar-ruta a {
    color: #87A330;
    text-decoration: underline;
}
.editar-ruta a:hover {
    font-weight: 600;
}
.ver-ruta a {
    color: #87A330;
    text-decoration: underline;
}
.ver-ruta a:hover {
    font-weight: 600;
}
.div-info, .div-puntuacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-info th { color: #A1C349; }
.div-info td, .div-puntuacion { font-weight: 600; }
.div-puntuacion i { font-size: 1em; }
.bi-star-fill { color: orange; }

/* ###############################################
*                  RESPONSIVE
* ############################################### */
@media (max-width: 950px) {
    #mr-img, #cr-img {
        height: 11em;
    }
    #mr-titulo h2, #cr-titulo h2 {
        font-size: calc(0.6em + 1vw);
        margin-left: 0.5em;
    }
    #cr-titulo img {
        width: 1em;
        height: 1em;
    }
    #mr-titulo img {
        width: 1.2em;
        height: 1.6em;
    }
    #mr-titulo-2 h4, #cr-titulo h4 {
        font-size: 0.7em;
    }
    #mr-btn-ver-mas, #cr-btn-ver-mas {
        font-size: 0.8em;
        width: 6em;
        height: 2em;
    }

    .item-ruta {
        height: 30em;
    }
    .rt-contenido {
        /* border: 1px solid black; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 88%;
    }
    .rt-ct-img {
        /* border: 1px solid #87A330; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .rt-info {
        grid-row: 2;
        height: 60%;
    }
    .img-principal {
        grid-column: 1;
        grid-row: 1;
    }
    .img-mini, .more-img {
        grid-column: span 1;
        grid-row: span 1;
    }
    .more-img {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(2px);
    }
}
@media (max-width: 700px) {
    #busqueda {
        display: block;
    }
    #barra {
        margin-top: 1em;
        grid-template-columns: 1fr 1fr;
    }
    #barra .barra-item {
        justify-content: start;
    }
    #barra .barra-item input {
        width: 10em;
    }
    #subir-ruta {
        width: 7em;
    }
    #mr-img, #cr-img {
        height: 7em;
    }
    .rt-titulo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lugar-ruta {
        font-size: 1em;
        display: block;
    }
    .lugar-ruta h4 {
        display: block;
        font-size: 0.7em;
    }
}
@media (min-width: 1260px) {
    #wrapper {
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media (min-width: 1620px) {
    #wrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
}
