#nav-bar-container {
    display: grid;
    width: 100%;
    height: 3em;
    border-top: 2px solid #B6B6B6;
}

/* ###############################################
*                   BUSCAR
* ############################################### */
#buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buscar-input {
    border: 1px solid #8E8E8E;
    border-radius: 0.5em;
    height: 2em;
}
#buscar-input::placeholder {
    padding-left: 5%;
}