body {
    position: relative;
}
#wrapper {
    position: relative;
    padding: 1em;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 6em;
    border-top: 1px solid #8E8E8E
}
#izquierda, #derecha {
    float: left;
    margin-bottom: 5em;
}
#titulo {
    display: grid;
    grid-template-columns: (2, 1fr);
    width: 60%;
    /* border: 1px solid red; */
}
#editar {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}
#btn-editar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    /* background-color: #B6B6B6; */
    cursor: pointer;
}
#btn-editar:hover {
    /* background-color: #cfcfcf; */
    background-color: #eeeeee;
    color: #587792;
}
#volver a:hover {
    color: #A1C349;
}

/* #################################
 *             IZQUIERDA
 * #################################*/
#izquierda {
    display: grid;
    grid-template-rows: (3, 1fr);
    padding-top: 1.5em;
    width: 30%;
    /* border: 1px solid black; */
}
.image-user {
    width: calc(8em + 1vw);
    height: calc(8em + 1vw);
    background-image: url('../imgs/icons/user-no-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#izquierda div {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}
#eliminar {
    color: #D01010;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 2em;
}
/* #################################
 *             DERECHA
 * #################################*/
#derecha {
    width: 30%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
#rutas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#rt-user, #subir-ruta {
    display: inline-block;
    padding: 0.8em;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 0.8em;
    border: 1px solid #8E8E8E;
    cursor: pointer;
}
#rt-user:hover, #subir-ruta:hover {
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;
}

/* #################################
 *          POP-UP ELIMINAR
 * #################################*/
#delete-alert {
    display: none;
    grid-template-rows: (4, 1fr);
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateY(-50%);
    width: 25em;
    height: 10em;
    padding: 1em;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.253);
    background-color: white;
    border-radius: 0.2em;
}
#close {
    grid-row: 1;
    font-size: 0.8em;
    display: flex;
    justify-content: end;
}
#close i:hover {
    color: rgba(0, 0, 0, 0.342);
    cursor: pointer;
}
.titulo-alert {
    grid-row: 2;
}
.password-div {
    grid-row: 3;
    font-size: 0.8em;
}
#black-div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}
input {
    border: 1px solid #B9B9B9;
    border-radius: 0.5em;
    width: 25em;
    height: 2.5em;
}
input::placeholder {
    color: #8E8E8E;
    padding-left: 1em;
}
.botones {
    text-align: center;
}
#boton-delete {
    padding: 0.5em;
    display: inline-block;
    color: #D01010;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 0.3em;
}
#boton-delete:hover {
    color: white;
    background-color: #D01010;
    text-decoration: none;
}
.alerta {
    color: #D01010;
    font-size: 0.9em;
    display: none;
}
@media(max-width: 700px) {
    #izquierda, #derecha {
        float: none;
    }
    #titulo {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3em;
    }
    #titulo h2 {
        grid-column: 0;
    }
    #editar {
        grid-column: 0;
    }
    #titulo h2, #editar {
        float: left;
    }
    #editar {
        margin-left: 0.5em;
    }
    #izquierda {
        clear: both;
    }
}
