/* #####################################
 *               FORMULARIO
 * ##################################### */
#formulario {
    display: inline-block;
}
#formulario div {
    margin-bottom: 1em;
}
input, textarea, select {
    font-family: 'Arimo', sans-serif;
    border: 1px solid #8E8E8E;
    width: 40em;
}
textarea {
    resize: none;
}
select {
    height: 3em;
    border-radius: 0.5em;
}
label {
    font-weight: 600;
}
#volver a:hover {
    color: #A1C349;
}

/* #####################################
 *               DIFICULTAD
 * ##################################### */
#dificultad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.btn-dif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-weight: 600;
    font-size: 0.9em;
    border: 1px solid #8E8E8E;
    cursor: pointer;
}
#dificultad div:hover, .selected {
    background-color: #D9D9D9;
    color: #87A330;
}
#subirRuta {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    padding-top: 0.8em;
    padding-bottom: 1.8em;
    width: 15em;
    font-size: 1em;
    cursor: pointer;
    color: white;
    background-color: #87A330;
}
.boton {
    display: flex;
    justify-content: start;
}
#subirRuta:hover {
    background-color: #a6c93d;
}

/* #####################################
 *                EXITO
 * ##################################### */
#exito {
    display: none;
    text-align: center;
}
#exito a {
    color: #87A330;
    font-weight: bold;
}
/* @media(max-width:) */
@media (max-width: 600px) {
    #formulario { width: 17em; }
    input, textarea, select { width: 20em; }
    label { font-size: 0.8em; }
    #dificultad div { font-size: 0.7em; }
}
