<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Autor" content="Cecilia">
    <meta name="descricpión" content="Visualiza todas las rutas de España">
    <title>Green Roads - Sobre nosotros</title>

    <!-- Tipo de fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" href="../imgs/icons/icono-senderista.png">
</head>
<body>
    <!-- HEADER -->
    <div id="index-header"></div>

    <!-- CONTENIDO -->
    <div id="wrapper">
        <div id="imagen">
            <div id="texto-img"><h1>Nos gusta seguir los caminos</h1></div>
        </div>
        <div id="contenido">
            <div id="slogan"><h2>Creemos que la naturaleza lo es todo para conectarnos</h2></div>
            <div class="flex"><h3>Buscamos a todos aquellos aventureros que estén dispuestos a vivir</h3></div>
            <div class="flex">Hay un mundo amplio por descubrir. ¿Qué mejor que salir y dar un paseo entre
                 los montes y las montañas? Queremos que salgas a contemplar la belleza de la naturaleza.</div>
        </div>
    </div>

    <!-- FOOTER -->
    <div id="index-footer"></div>

    <script src="../js/header_footer.js"></script>
</body>
</html>