<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Autor" content="Cecilia">
    <meta name="descricpión" content="Visualiza todas las rutas de España">
    <title>Green Roads</title>

    <!-- Tipo de fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/nav-bar.css"> -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" href="../imgs/icons/icono-senderista.png">
</head>
<body>
    <!-- HEADER -->
    <div id="index-header"></div>

    <!-- NAVIGATION BAR -->
    <!-- <div id="nav-bar"></div> -->

    <!-- CONTENIDO -->
    <div id="wrapper">
        <div id="w-container">
            <div id="w-texto">
                <a href="inicio.html"><h2><u>¿Quieres salir a explorar?</u></h2></a>
            </div>
            <div id="w-imagen">
                <div id="w-imagen-texto">
                    <a href="inicio.html"><h2><u>¿Quieres salir a explorar?</u></h2></a>
                </div>
            </div>
        </div>
        <div id="w-contenido">
            <!-- <hr> -->
            <div id="w-contenido-h1"><h1>Rutas destacadas</h1></div>
            <div id="w-rutas-destacadas">
                <!-- <div class="w-ruta-img">
                    <div class="ruta-img"></div>
                    <div class="ruta-texto">
                        <div>---</div>
                        <div class="texto-ruta">Dificultad: <span class="span-dificultad">-</span></div>
                        <div class="texto-ruta">Longitud: <span class="span-longitud">-</span></div>
                        <div class="texto-ruta">Tiempo: <span class="span-tiempo">-</span></div>
                    </div>
                </div>
                <div class="w-ruta-img">
                    <div class="ruta-img"></div>
                    <div class="ruta-texto">
                        <div>---</div>
                        <div class="texto-ruta">Dificultad: <span class="span-dificultad">-</span></div>
                        <div class="texto-ruta">Longitud: <span class="span-longitud">-</span></div>
                        <div class="texto-ruta">Tiempo: <span class="span-tiempo">-</span></div>
                    </div>
                </div>
                <div class="w-ruta-img">
                    <div class="ruta-img"></div>
                    <div class="ruta-texto">
                        <div>---</div>
                        <div class="texto-ruta">Dificultad: <span class="span-dificultad">-</span></div>
                        <div class="texto-ruta">Longitud: <span class="span-longitud">-</span></div>
                        <div class="texto-ruta">Tiempo: <span class="span-tiempo">-</span></div>
                    </div>
                </div>
                <div class="w-ruta-img">
                    <div class="ruta-img"></div>
                    <div class="ruta-texto">
                        <div>---</div>
                        <div class="texto-ruta">Dificultad: <span class="span-dificultad">-</span></div>
                        <div class="texto-ruta">Longitud: <span class="span-longitud">-</span></div>
                        <div class="texto-ruta">Tiempo: <span class="span-tiempo">-</span></div>
                    </div>
                </div> -->
            </div>
            <div class="aux"></div>
            <div id="w-lema">
                <div id="l-title"><h1>Sal a pasear</h1></div>
                <div id="l-text"><h2>Contigo hasta por las montañas más altas<br>
                                 y los caminos más difíciles</h2></div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div id="index-footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../js/header_footer.js"></script>
    <script src="../js/landing_page.js"></script>
</body>
</html>
<!-- Detalles de Ruta generada dinámicamente con php -->
<!-- Búsqueda de rutas dinámicamente con JavaScript ApiRest -->