<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Roads - Perfil</title>

    <!-- Tipo de fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="icon" href="../imgs/icons/icono-senderista.png">
</head>
<body>
    <!-- HEADER -->
    <div id="index-header"></div>

    <!-- CONTENIDO -->
    <div id="wrapper">

        <div id="volver">
            <a href="inicio.html"><i class="bi bi-caret-left-fill"></i>Página de inicio</a>
        </div>

        <!-- Título -->
        <div id="titulo">
            <h2>Perfil</h2>
            <div id="editar"><a href="edit_profile.html"><div id="btn-editar"><i class="bi bi-pencil-square"></i></div></a></div>
        </div>
        <!-- Fin título -->

        <!-- Foto izquierda -->
        <div id="izquierda">
            <div><div class="image-user"></div></div>
            <div><div>Miembro desde Mes - Año</div></div>
            <div><div id="eliminar">Eliminar perfil</div></div>
        </div>
        <!-- Fin foto izquierda -->

        <!-- Div derecho -->
        <div id="derecha">
            <h3 id="nom-usuario">Usuario</h3>
            <hr>
            <h5 id="email">user@gmail.com</h5>
            <div id="rutas">
                <a href="#"><div><div id="rt-user">Mis rutas</div></div></a>
                <a href="subir_ruta.html"><div><div id="subir-ruta">Subir ruta</div></div></a>
            </div>
        </div>
        <!-- Fin div derecho -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div id="index-footer"></div>

    <!-- ALERTA ELIMINAR -->
    <div id="black-div"></div>
    <div id="delete-alert">
        <div id="close"><i class="bi bi-x-lg" id="close-icon"></i></div>
        <div class="titulo-alert">¿Seguro que quieres eliminar la cuenta?</div>
        <div class="password-div"><input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required></div>
        <div class="alerta"></div>
        <div class="botones">
            <div id="boton-delete">Eliminar perfil</div>
        </div>
    </div>
    <!-- FIN ALERTA ELIMINAR -->

    <script src="../js/header_footer.js"></script>
    <script src="../js/image_user.js"></script>
    <script src="../js/perfil.js"></script>
</body>
</html>