<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <!-- FOOTER -->
    <footer id="footer-container">
        <div id="f-item-1">
            <table>
                <thead>
                    <tr class="f-head">
                        <td>Explorar</td>
                    </tr>
                    <tr class="f-submenu">
                        <td><a href="inicio.html" class="enlace">Rutas</a></td>
                        <td>Detalles de las Rutas</td>
                    </tr>
                    <tr class="f-submenu">
                        <td colspan="2"><a href="mapa.html" class="enlace">Mapa</a></td>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="f-item-2">
            <table>
                <thead>
                    <tr class="f-head">
                        <td colspan="2">Sobre GreenRoads</td>
                    </tr>
                    <tr class="f-submenu">
                        <td>Sobre nosotros</td>
                        <td>Ayuda</td>
                    </tr>
                    <tr class="f-submenu">
                        <td colspan="2">Miembros de la comunidad</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="f-item-3">
            <div class="twitter"><img src="../imgs/icons/twitter-logo.png" alt="Twitter" width="40" height="40"></div>
            <div class="instagram"><img src="../imgs/icons/instagram-logo.png" alt="Instagram" width="40" height="40"></div>
            <div class="linkedin"><img src="../imgs/icons/linkedin-logo.png" alt="LinkedIn" width="40" height="40"></div>
        </div>
    </footer>

</body>
</html>

